* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: teal;
}
.btn {
  color: gray;
  padding: 5px;
}

.profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.profile-pic-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.logOut-btn {
  text-align: center;
  align-items: center;
}
.intro-btn {
  border: none;
  background: transparent;
  box-shadow: none;
  color: white;
}
.intro-btn:hover {
  color: white;
}
.heading {
  color: white;
  font-family: Trajan Pro;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.i {
  height: 50px;
}
/*  */

.home-container {
  height: 100vh;
}
.my-todos-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
