* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: teal;
}
.btn {
  color: gray;
  padding: 5px;
}

.profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.profile-pic-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.logOut-btn {
  text-align: center;
  align-items: center;
}
.intro-btn {
  border: none;
  background: transparent;
  box-shadow: none;
  color: white;
}
.intro-btn:hover {
  color: white;
}
.heading {
  color: white;
  font-family: Trajan Pro;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.i {
  height: 50px;
}
/*  */

.home-container {
  height: 100vh;
}
.my-todos-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* myTodo */
.my-todos-body {
  padding: 0px 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.my-modal {
  display: flex;
  flex-direction: column;
}
.input {
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
}
.input:focus {
  outline: 1px solid #d2caca;
  box-shadow: inset 2px 2px 0px gray;
}
.empty-div {
  width: 200px;
}
.my-heading {
  color: teal;
}
.new-todo-button {
  width: 100px;
}
/* todo Table */

.icon-btn {
  background-color: transparent;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-size: larger;
  color: rgb(64, 114, 3);
}
